h1, h2,h3, h4, h5, h6, p, a, label, button {
	font-family: 'Lato', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;;
}

h1 {
	font-size: 3.5em;
}

h1, h4, label, h5 {
	font-weight: bolder;
	text-transform: uppercase;
}

body {
	text-align:center;
	background-color: #f2f2f2;
	margin-top: 2%;

}
button {
	color: white;
	background-color: #00c6b6;
	height: 35px;
	width: 120px;
	text-align: center;
	vertical-align: center;
	border-color: white;
	padding: 0px;
	margin-bottom: 15px;
	border-radius: 25px;
	text-transform: uppercase;
}

button:hover {
	background: #6585e7;
}

ul {
	list-style: none;
}

.task-list li {
    background-color: white;
    position: relative;
    /*padding: 20px 20px 20px 20px;*/
    padding: 5.5%;
    margin: 0 0 3px 0;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    transition: 0.2s;
    border:1px solid #D8D8D8;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	margin-bottom: 1%;
}
#tasks {
	text-align: left;
	padding-left: 10%;
	padding-top: 3%;
}

#heading {
	color: white;
	font-weight: bolder;
	font-size: 25px;
	margin-right: 5%;
}
.top-bar {
	background-color: black;
	margin-top: -2%;
	text-transform: uppercase;
	padding:1%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right:5%;
}
.top-bar button {
	font-size: 15px;
	border-radius: 25px;
	background-color: transparent;
	border: 1px solid white;
	text-transform: uppercase;
}

#user-logo, #logout-switch, #heading{
	background: transparent;
	visibility: visible;
}
#user-logo {
	padding-right:10px;
	padding-bottom: 5px;
}
#user {
	padding-top:2px;
	padding-right:50px; 
	background: transparent;
}
#assignments {
	margin-top: 5%;
	border: 3px solid white;
	margin-bottom: 3%;
}
#example-tabs, #assignments {
	background-color: transparent;
}
.tabs-content {
	background-color: transparent;
}

 .labels {
	position: relative;
	text-align: left;
	margin-bottom: 7%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 3%;
} 
#sign-in {
	margin-top: 5%;
	margin-left: 15%;
	margin-right:15%;
	padding: 4%;
	border: 2px solid #e6e6e6;
	background-color: white;
	text-align: left;
	font-weight: bold;
}

#log-in, #sign-up {
	float: center;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%;
}
#sign-in h5 {
	margin-left: 10%;
	padding-bottom: 2%;
	text-transform: uppercase;
}
#sign-in input {
	position: relative;
	width: 55%;
	float: right;
	margin-top: -5px;
}

#task-fields {
	margin-top: 5%;
	/*padding-left: 10px;*/
	margin-left: 25%;
	margin-right:25%;
}

.task-list {
	margin-top: 5%;
}

.close, .close-assign {
	float: left;
	border: none;
	background: transparent;
	cursor: pointer;
	text-align: left;
}
#task-list {
	margin: 5%;
	margin-left: 10%;
}

#add-assignment {
	border: 3px solid white;
	text-align: left;
	margin-right: 20%;
	margin-top: 5%;
	margin-left: .5px;
	overflow: hidden;
}
#add-assignment button {
	margin-right: 15px;
}

#add-assignment h4 {
	padding-left: 20px;
	border-bottom: 1px solid white;
}

#example-tabs li {
	margin-right: 0;
	box-shadow: none;
	margin-bottom: 0;
	padding-bottom: 25px;

}
#example-tabs {
	border: 0;
}
.dates {
	float:right;
}

.selected {
	padding: -3%;
	margin-left: -1%;
	margin-right: -1%;
	text-align: left;
	border-radius:5px;
	padding-left: 6%;
	height: 5%;
	border: 1px solid #00c6b6;
	background-color: white;
	margin-bottom: 4px;

}

#user {
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

#subtask-container {
	border-left: 2px white solid;
	background-color: white;
}

#due-date, #deadline {
	color: #7A7A7A;
}

#example-tabs li {
	padding: 3%;
	margin-bottom: 2%;
}

#add-task {
	width:75%;
	margin-top:12%;
	font-weight: bolder;
}
#add-assign {
	font-weight: bolder;
}
#assign-heading {
	/* text-align: left; */
	/* display: inline-block; */
	padding: 2%;
	background-color: white;
	border: 1px solid #e6e6e6;
	padding-bottom: 1%;
}
#assign-heading button {
	margin-right:1%; 
	font-weight: bold;

}
#subtask-container h5 {
	padding-top:3%;
}

.tabsBackground {
	background-color: #f2f2f2;
	padding: 3%;
	margin-left: -6%;
	margin-right: -6%;
}
.popup {
	position:fixed;
	top: 20%;
	left: 25%;
	margin: 75px auto; 
	padding: 20px;
	padding-right: 60px;  
	background: #fff;
	border: 1px solid #e6e6e6;
	width: 700px ;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	/* position: relative;  */
}
.unselected {
	border: 1px solid #e6e6e6;
	background-color: white;
	padding: 3%;
	margin-left: -1%;
	margin-right: -1%;
	text-align: left;
	border-radius:5px;
	padding-left: 6%;
	height: 10%;
	margin-bottom: 4px;
}

.unselected h6, .selected h6 {
	color: #888888;
}
.unselected button, #task-card button, .selected button {
	background-color: transparent;
	color: #e6e6e6;
	width: 30%;
	float: right;
}
.unselected h5 {
	font-weight: 500;
	text-transform: none;
}

#popup-buttons button{
	color: white;
	background-color: #00c6b6;
	height: 35px;
	width: 120px;
	padding: 0px;
	margin-bottom: 15px;
	border-radius: 25px;
	text-transform: uppercase;
	font-weight: bolder;
	margin-left: 30%;
}
.cancel-delete {
	background-color: white !important;
	color: #888888 !important;
	border:1px solid #888888 !important;
}
#delete-assign-pop {
	position: center !important;
	text-align: center;
	width: 450px;
	left: 35%;

}
#delete-assign-pop h6 {
	padding: 10%;
	text-align: center;
}

#task-card {
	border: 1px solid #e6e6e6;
	padding: 3%; 
	margin-right: 2%;
	border-radius: 5px;
	text-align: left;
}
#task-card p {
	font-size: 14px;
	margin-left: -25%;
}
#task-completed, #cancel-add {
	float:left !important;
}
.cancel-delete {
	float:left !important;
}

.Overdue {
	border: 2px solid red;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color:red;
	font-size: 12px;
	margin-left: 20%;
}
.Today {
	border: 2px solid #00c6b6;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color:#00c6b6;
	font-size: 12px;
	margin-left: 20%;
}

.assign-info {
	display:block;
	text-align: left;
}
#due {
	margin-left: -5%;
	color: #888888
}

#dateDisplay{
	margin-left: -8%;
}
#task-completed, #task-alert {
	margin-top: 20%;
}

#delete-task {
	margin-top: 3%;
}
.completed {
	color: #888888;
	font-size: 13px;
	margin-top: 20%;
	margin-left: -20%;
}
#date-display {
	margin-top: -11%;
}
